---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
NamespaceIndentation: None
IndentCaseLabels: true
IndentPPDirectives: None
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: true
AlignOperands: Align
SpacesBeforeTrailingComments: 2
SpaceAfterCStyleCast: false
SortIncludes: Never
IncludeBlocks: Preserve
FixNamespaceComments: false
ReflowComments: true
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
